.filter-box {
  padding: 0px 40px;
  @media screen and(max-width:767px) {
    padding: 0px 20px;
  }
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .rules {
    opacity: .2;
  }
  .input-field {
    padding: 10px;
    flex: 8 1 auto;
    @media screen and(max-width:767px) {
      margin-right: 15px;
    }
    .mat-icon {
      color:#fff;
    }
    .prefix-input {
      font-size:14px;
      margin-right: 15px
    }
    .mat-form-field-appearance-legacy .mat-form-field-wrapper,
    .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
      color: #fff ;
    }
  }
  .slider {
    // flex: 1 1 20%;
    flex: 1 1 auto;
    min-width: 240px;
    @media screen and(max-width:767px) {
      display: flex;
      width: 100%;
      .mat-slider {
        margin-top: -10px;
        margin-bottom: 20px;
      }
    }
                    @media screen and(max-width:767px) {
                      .mat-slider-horizontal {
                        width: 100%;
                      }
                    }
    .rate-icon {
      font-size: 15px;
      vertical-align: text-top;
      color: #ffd702;
    }
    .slider-label {
      display: block;
      color: rgba(255,255,255,.7);
      margin: 3px 7px;
      min-width: 110px;
    }
  }
  .categories-list {
    flex: 1 1 100%;

    .mat-chip-list {
      display: inline-block;
      margin: 5px;
      margin-top: 0px;
      .chip {
        cursor: pointer;
      }
    }

  }

}


.lista-items {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  padding: 25px;
  @media screen and (max-width: 767px) {
    padding: 10px;
  }
  list-style-type: none;
  li {
    flex: 0 1 auto;
    overflow: hidden;
    position: relative;
  }
  .no-video {
    color: #fff;
    display: block;
    width: 90%;
    background: rgba(0,0,0,.3);
    text-align: center;
    margin: 0 auto;
    padding: 40px 30px;
    border: 1px dashed rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }
  .no-video-icon {
    color: #fffc;
    font-size: 52px;
    display: inline;
  }

}



