<!-- FILTERS -->
<div class="filter-box" *ngIf="isFilterable">


  <!-- Input Field -->
  <mat-form-field class="input-field">
    <mat-icon matPrefix class="prefix-input">movie</mat-icon>
    <input matInput placeholder="Which movie would like to watch today?" name="filterInput" id="filterInput" type="text" [(ngModel)]="searchText">
    <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

    <!-- Mobile Filter button -->
    <button mat-mini-fab color="primary" class="isHidden-medium-big-devices " (click)="toggleMenuMobile()">
        <mat-icon>filter_list</mat-icon>
    </button>

   <!-- Slider Input -->
  <div class="slider menuMobile isHidden-small-devices transition-all">
    <label class="mat-body-1 slider-label" for="slider">
        Min Rate: {{selectedRate}}
        <mat-icon class="rate-icon">star</mat-icon>
    </label>
    <mat-slider [min]="1" [max]="10" name="slider" [(ngModel)]="selectedRate"></mat-slider>
  </div>

  <!-- Categories Chips -->
  <div class="categories-list menuMobile isHidden-small-devices transition-all">
    <mat-chip-list [multiple]="true" [selectable]="true" #chipList color="accent">
      <mat-chip color="warn" [value]="'All'" [selected]="isAllChecked()" (click)="selectAllGenres()"> <span class="mat-body-1"> all </span> </mat-chip>
      <mat-chip *ngFor="let genre of selectedGenres " class="chip" color="accent" [value]="genre" [(selected)]="genre.active" (click)="selectGenre(genre)">
        <mat-icon>{{genre.active ? 'check' : 'close'}}</mat-icon>
        <span class="mat-body-1"> {{genre.title}} </span>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>


<!-- RESULTS -->
<div class="results">

  <!-- results for filtered result -->
  <ul class="lista-items filtered" *ngIf="isFilterable">
    <!-- Video List -->
    <li *ngFor="let item of movieList | filterRating: selectedRate | filterGenres: selectedGenres   | filter : searchText; let i = index" class="animated fadeInUp"
      [ngStyle]="{'-webkit-animation-delay' : (i* 0.07) + 's', 'animation-delay' : (i* 0.07) + 's'}">
      <app-movie-thumb-item [movie]="item"></app-movie-thumb-item>
    </li>

    <!-- Any Video Found -->
    <li class="animated fadeInUp no-video" *ngIf="(movieList | filterRating: selectedRate | filterGenres: selectedGenres   | filter : searchText).length === 0"
      [ngStyle]="{'-webkit-animation-delay' : (i* 0.07) + 's', 'animation-delay' : (i* 0.07) + 's'}">
      <mat-icon class="no-video-icon">sentiment_dissatisfied</mat-icon>
      <p class="mat-headline">No movies found with these criteria</p>
    </li>

  </ul>

  <!-- results for not filtered result -->
  <ul class="lista-items filtered" *ngIf="!isFilterable">
    <li *ngFor="let item of movieList; let i = index" class="animated fadeInUp" [ngStyle]="{'-webkit-animation-delay' : (i* 0.07) + 's', 'animation-delay' : (i* 0.07) + 's'}">
      <app-movie-thumb-item [movie]="item"></app-movie-thumb-item>
    </li>

    <!-- Any Video Found -->
    <li class="animated fadeInUp no-video" *ngIf="movieList.length === 0"
      [ngStyle]="{'-webkit-animation-delay' : (i* 0.07) + 's', 'animation-delay' : (i* 0.07) + 's'}">
      <mat-icon class="no-video-icon">sentiment_dissatisfied</mat-icon>
      <p class="mat-headline">No movies found with these criteria</p>
    </li>
  </ul>


</div>
