
<a mat-button routerLink="/browse" color="primary">
  <mat-icon >chevron_left</mat-icon>
  Browse
</a>

<app-movie-full [behaveMovie]="activeMovie" ></app-movie-full>


<div *ngIf="relMovies" class="">
  <div class="mat-headline">
    <p class=""> <mat-icon>comment</mat-icon> Categories match with: </p>
    <hr />
  </div>
    <app-list-items  [movieList]="relMovies" [filterGenres]="genreList" [isFilterable]="false"></app-list-items>
</div>
