
.mat-toolbar-row, .mat-toolbar-single-row {
  height: 45px;
}
.mat-toolbar-multiple-rows {
  min-height: 45px;
}

.menu-links {
  @media screen and (max-width:450px) {
    display: none;
  }
  a {
    font-weight: 400;
  }
}
.mat-toolbar.mat-primary {
  background-color: transparent;
}
.logo {
  .logo-text {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 1px #044d53;
    letter-spacing: 0.03em;
    cursor:pointer;
  }
  .logo-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    top: 9px;
    position: relative;
  }
}

