<mat-toolbar color="primary" class="mat-elevation-z8">

  <mat-toolbar-row  color="accent" class="logo">
    <span color="primary" class="logo-text" routerLink="/browse">
      <mat-icon class="logo-icon">voice_chat</mat-icon>
      Betsson Videos
    </span>

  </mat-toolbar-row>
</mat-toolbar>




