<article class="box-movie" *ngIf="movie" >
  <aside class="movie-image animated fadeIn animation-delay-1"  [ngStyle]="{'-webkit-animation-delay' :0.07 + 's', 'animation-delay' : 0.07 + 's'}" >
      <img src="{{staticURL}}" alt="{{movie.name}}" class="cover mat-elevation-z8"  >
  </aside>
  <main class="movie-details">
    <h2 class="mat-display-2 animated fadeIn animation-delay-3 mb-5">{{movie.name}}</h2>
    <span class="movie-caption mat-caption animated fadeIn animation-delay-2 mb-20">
        <mat-icon >star_rate</mat-icon> <span class="text">{{movie?.rate}}</span>
    </span>
    <span class="movie-caption mat-caption mb-25 animated fadeIn animation-delay-3 mb-20">
        <mat-icon >av_timer</mat-icon> <span class="text"> {{movie?.length}} </span>
    </span>
    <p class="description mat-subheading-2 animated fadeIn animation-delay-4"> {{movie.description}}</p>
    <div class="tags animated fadeIn animation-delay-4">
        <mat-chip-list >
          <mat-chip *ngFor="let tag of movie.genres" color="accent" selected> <span class="mat-body-1"> {{tag}} </span>  </mat-chip>
        </mat-chip-list>
    </div>
  </main>
</article>

