.box-movie {
  position: relative;
  &:before {
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 480px;
    filter: blur(10px);
    overflow: hidden;
    background-size: cover;
    opacity: 0.3;
    background-position: center center;
  }
  color: #fff;
  display: flex;
  flex-flow: row;
  padding: 40px 15vw;
  @media screen and (max-width: 767px) {
    padding: 40px 10vw;
  }
  @media screen and (max-width: 540px) {
    padding: 40px 5vw;
    flex-flow: column;
  }
  @media screen and (max-width: 320px) {
    padding: 40px 0vw;
  }
  .movie-image, .movie-details {
    padding: 25px;
    @media screen and (max-width: 540px) {
      text-align: center;
    }
  }
  .movie-caption {
    .mat-icon {
      vertical-align: text-bottom;
    }
    display: inline-block;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    margin-right: 20px;
  }
}

