/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import '~animate.css/animate.css';
@import '~roboto-fontface/css/mixins';
@import '~@angular/material/theming';

@include mat-core();
//Core

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-green, A100, A400, A700);
$dark-accent:  mat-palette($mat-yellow, A700, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);


html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-attachment: fixed;
    background-size: contain;
    background-image: linear-gradient(to right top, #051937, #00436b, #00717b, #009c5c, #87bd0b);
    // background: mat-palette($mat-blue);
}

/* Helper Classes */
/* Margins multiples 5 */
@for $i from 0 to 5 {
  .mb-#{$i*5} { margin-bottom:($i*5px) !important}
  .mt-#{$i*5} { margin-top:   ($i*5px) !important}
  .ml-#{$i*5} { margin-left:  ($i*5px) !important}
  .mr-#{$i*5} { margin-right: ($i*5px) !important}
}

/* Animations delays by .05ms */
@for $i from 0 to 5 {
  .animation-delay-#{$i*5} {
    -webkit-animation-delay :($i*.05s) !important;
    animation-delay : ($i*.05s) !important;
  }
}

.menuMobile {
    max-height: 100vh;
    overflow: hidden ;
}

.transition-all {
  transition: all .35s 0s  ease-out !important;
}

@media screen and(max-width:767px) {
  .isHidden-small-devices {
    max-height: 0vh;
    padding: 0px;
    overflow: hidden ;
    box-sizing: border-box;
  }
}
@media screen and(min-width:767px) {
    .isHidden-medium-big-devices {
      max-height: 0vh;
      padding: 0px;
      overflow: hidden !important;
      box-sizing: border-box;
    }
}

