<div class="image">
  <header class="advice">
    <h2 class="mat-display-1 mb-0">
        <mat-icon>warning</mat-icon>
        Housten we have a problem...
    </h2>
    <small class="mat-subheading-1">
        The page has been abducted or may not exist
    </small>
  </header>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500">

    <g id="BACKGROUND_1">


      <g>
        <path class="st11" d="M321.8 193.8c-3.3 0-5.9-2.7-5.9-5.9 0-1.4.5-2.8 1.4-3.8-3.3.6-5.7 3.5-5.7 7 0 3.9 3.2 7.1 7.1 7.1 3.4 0 6.3-2.5 7-5.7-1.1.8-2.4 1.3-3.9 1.3z"></path>
        <path class="st12" d="M283.9 208.3c0 .3.2.5.5.5s.5-.2.5-.5-.2-.5-.5-.5-.5.2-.5.5z"></path>
        <path class="st11" d="M332.5 213.2l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM346.3 193.4l.9 1.7 1.6.8-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.8zM375.9 96.4l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM281.5 62.5l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM173.1 32.6l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM457.1 118.6l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM472.1 32.4l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM432 141l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM441.9 224.6l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM388.5 259.5l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM467 274l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM410.1 176.6l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM395.8 130.1l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM419 66.6l.8 1.6 1.7.9-1.7.9-.8 1.6-.9-1.6-1.6-.9 1.6-.9zM336.7 168.6l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM189.3 188.4l.8 1.6 1.7.9-1.7.9-.8 1.6-.9-1.6-1.6-.9 1.6-.9zM173.6 170l.9 1.6 1.6.9-1.6.8-.9 1.7-.9-1.7-1.6-.8 1.6-.9zM179.3 190.2l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM186.7 222.4l.8 1.6 1.7.9-1.7.9-.8 1.6-.9-1.6-1.6-.9 1.6-.9zM199.3 204.7l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM200.4 190.2l.8 1.6 1.7.9-1.7.9-.8 1.6-.9-1.6-1.6-.9 1.6-.9zM171.1 215.7l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM303.2 194.7l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM282.6 210.7l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM274.6 192.3l.9 1.6 1.6.9-1.6.9-.9 1.6-.9-1.6-1.6-.9 1.6-.9zM315.1 207.8l.3.6.6.3-.6.3-.3.6-.3-.6-.6-.3.6-.3zM285 196.4l.3.6.6.3-.6.3-.3.6-.4-.6-.6-.3.6-.3zM238.8 223l.3.6.6.4-.6.3-.3.6-.4-.6-.6-.3.6-.4zM217.2 203.5l.3.6.6.3-.6.3-.3.6-.4-.6-.6-.3.6-.3zM210.7 193.8l.3.6.6.3-.6.3-.3.6-.3-.6-.6-.3.6-.3zM183.9 209.8l.3.6.6.3-.6.3-.3.6-.3-.6-.6-.3.6-.3zM332.5 190.9l.3.6.6.3-.6.3-.3.6-.3-.6-.6-.3.6-.3zM341 176.2l.4.6.6.4-.6.3-.4.6-.3-.6-.6-.3.6-.4zM362.1 197.5l.4.6.6.3-.6.4-.4.6-.3-.6-.6-.4.6-.3zM355.2 206.5l.4.8.8.5-.8.4-.4.8-.4-.8-.8-.4.8-.5zM317.4 225.8l.4.8.8.4-.8.5-.4.7-.5-.7-.8-.5.8-.4zM343.8 217l.4.8.8.4-.8.5-.4.8-.4-.8-.8-.5.8-.4zM357.6 177.4l.5.8.8.4-.8.5-.5.7-.4-.7-.8-.5.8-.4zM165.3 189.4l.5.8.8.5-.8.4-.5.8-.4-.8-.8-.4.8-.5zM137.4 180.5l.4.8.8.4-.8.4-.4.8-.4-.8-.8-.4.8-.4zM142.7 209.5l.5.8.8.4-.8.5-.5.7-.4-.7-.8-.5.8-.4zM161 112.9l.4.8.8.4-.8.4-.4.8-.5-.8-.8-.4.8-.4zM173.6 119.2l.4.8.8.4-.8.5-.4.8-.4-.8-.8-.5.8-.4zM188.2 102.8l.5.8.8.4-.8.4-.5.8-.4-.8-.8-.4.8-.4zM189.5 118l.4.8.8.4-.8.4-.4.8-.5-.8-.8-.4.8-.4zM203.4 94.3l.5.8.8.4-.8.5-.5.8-.4-.8-.8-.5.8-.4zM323.5 120.4l.4.8.8.5-.8.4-.4.8-.5-.8-.8-.4.8-.5zM311.8 107.5l.4.8.8.5-.8.4-.4.8-.4-.8-.8-.4.8-.5zM342 121.7l.4.7.8.5-.8.4-.4.8-.5-.8-.8-.4.8-.5zM401.8 104.8l.4.8.8.4-.8.4-.4.8-.5-.8-.7-.4.7-.4zM381.4 55.2l.5.8.8.4-.8.5-.5.8-.4-.8-.8-.5.8-.4zM466.6 155.3l.4.8.8.5-.8.4-.4.8-.5-.8-.8-.4.8-.5zM380.4 180.2l.5.8.8.4-.8.5-.5.8-.4-.8-.8-.5.8-.4zM397.2 198.8l.5.8.7.4-.7.4-.5.8-.4-.8-.8-.4.8-.4zM378.4 145.3l.5.8.8.5-.8.4-.5.8-.4-.8-.8-.4.8-.5zM133.2 96.4l-.9 1.6-1.6.9 1.6.9.9 1.6.9-1.6 1.6-.9-1.6-.9zM52 118.6l-.9 1.6-1.6.9 1.6.9.9 1.6.8-1.6 1.7-.9-1.7-.9zM37 32.4l-.9 1.6-1.6.9 1.6.9.9 1.6.8-1.6 1.7-.9-1.7-.9zM77.1 141l-.9 1.6-1.6.9 1.6.9.9 1.6.9-1.6 1.6-.9-1.6-.9zM67.2 224.6l-.9 1.6-1.6.9 1.6.9.9 1.6.9-1.6 1.6-.9-1.6-.9zM120.6 259.5l-.9 1.6-1.6.9 1.6.9.9 1.6.9-1.6 1.6-.9-1.6-.9zM42.1 274l-.9 1.6-1.6.9 1.6.9.9 1.6.9-1.6 1.6-.9-1.6-.9zM99 176.6l-.9 1.6-1.6.9 1.6.9.9 1.6.8-1.6 1.7-.9-1.7-.9zM113.3 130.1l-.9 1.6-1.6.9 1.6.9.9 1.6.9-1.6 1.6-.9-1.6-.9zM90.1 66.6l-.9 1.6-1.6.9 1.6.9.9 1.6.9-1.6 1.6-.9-1.6-.9zM107.3 104.8l-.4.8-.8.4.8.4.4.8.4-.8.8-.4-.8-.4zM127.6 55.2l-.4.8-.8.4.8.5.4.8.5-.8.8-.5-.8-.4zM42.5 155.3l-.4.8-.8.5.8.4.4.8.4-.8.8-.4-.8-.5zM128.6 180.2l-.4.8-.8.4.8.5.4.8.5-.8.8-.5-.8-.4zM111.8 198.8l-.4.8-.8.4.8.4.4.8.5-.8.8-.4-.8-.4zM130.6 145.3l-.4.8-.8.5.8.4.4.8.5-.8.8-.4-.8-.5zM286 47.6l.4.7.8.5-.8.4-.4.8-.4-.8-.8-.4.8-.5zM339.8 34.8l.4.8.8.4-.8.4-.4.8-.5-.8-.7-.4.7-.4zM296.8 78.8l.4.8.8.4-.8.4-.4.8-.5-.8-.7-.4.7-.4zM251.2 46.8l.5.8.7.4-.7.4-.5.8-.4-.8-.8-.4.8-.4zM231.2 74.8l.5.8.7.4-.7.4-.5.8-.4-.8-.8-.4.8-.4zM270 82l.4.8.8.4-.8.5-.4.7-.4-.7-.8-.5.8-.4zM259 68l.4.8.8.4-.8.5-.4.7-.4-.7-.8-.5.8-.4zM331.6 128.6l.4.8.8.4-.8.5-.4.7-.5-.7-.7-.5.7-.4zM155.6 167.9l.4.8.8.4-.8.4-.4.8-.5-.8-.8-.4.8-.4zM154.4 197.7l.4.8.8.5-.8.4-.4.8-.5-.8-.8-.4.8-.5zM325.6 175.8l.4.6.6.3-.6.3-.4.6-.3-.6-.6-.3.6-.3z"></path>
        <path class="st11" d="M109.9 164.2c-6.8 0-12.7 4.1-15.3 9.9-1.8-2.5-4.7-4.2-8-4.2-4 0-7.4 2.4-9 5.8-.9-1-2.2-1.7-3.7-1.7-2.4 0-4.4 1.7-4.8 4h57.2c-1.3-7.8-8.1-13.8-16.4-13.8zM213.6 208.4c-2 0-3.9 1-5.1 2.4-2-4.7-6.6-7.9-12-7.9-6.5 0-11.8 4.7-12.9 10.8H220c-.6-3-3.2-5.3-6.4-5.3zM334.6 80.8c-9.7 0-18.1 5.8-21.8 14.1-2.5-3.6-6.7-6-11.5-6-5.7 0-10.6 3.4-12.8 8.3-1.3-1.5-3.1-2.4-5.2-2.4-3.4 0-6.3 2.5-6.8 5.7H358c-1.8-11.2-11.6-19.7-23.4-19.7zM405.8 214c-2.1 0-4 .9-5.3 2.4-2.5-5.8-8.2-9.9-14.9-9.9-6.4 0-11.9 3.7-14.6 9.1-1.8-2.2-4.4-3.6-7.5-3.6-4.7 0-8.7 3.4-9.5 8h59c-.7-3.4-3.7-6-7.2-6z"></path>
        <path class="st13" d="M357.4 319.9c0 2.7-9.4 4.9-21 4.9s-21-2.2-21-4.9 9.4-4.9 21-4.9c11.6-.1 21 2.1 21 4.9zM186.7 320.3c0 2.9-9.9 5.2-22.1 5.2-12.2 0-22.1-2.3-22.1-5.2 0-2.9 9.9-5.2 22.1-5.2 12.2.1 22.1 2.4 22.1 5.2z"></path>
        <g>
          <text transform="translate(135.847 320.643)" class="st8 st14 st15">
            4
          </text>
          <text transform="translate(302.927 319.867)" class="st8 st14 st15">
            4
          </text>
          <path class="st2" d="M337.5 287.9v4.3h-16.7l2.3-6.1c-4.3-.5-8.7-.9-13.2-1.2-2.8 7.8-3.2 9.8-3.2 11.5 0 4.8 3.1 8.1 10.2 8.1h20.7v15.3H350v-15.3h8v-12.3h-8v-2.5c-4-.6-8.1-1.2-12.5-1.8zM170.5 286.6v6.4h-16.7l1.7-4.5c-5.1.7-9.9 1.5-14.4 2.4-1.2 3.7-1.5 5-1.5 6.3 0 4.8 3.1 8.1 10.2 8.1h20.7v15.3h12.4v-15.3h8V293h-8v-7.7c-4.3.4-8.4.9-12.4 1.3z"></path>
        </g>
        <path class="st12" d="M296.7 256.9c0 .3.2.5.5.5s.5-.2.5-.5-.2-.5-.5-.5c-.3-.1-.5.2-.5.5z"></path>
        <g>
            <path class="st17" d="M312.6 320.6c0 6.5-27.7 11.8-61.8 11.8-34.1 0-61.8-5.3-61.8-11.8 0-6.5 27.7-11.8 61.8-11.8 34.2 0 61.8 5.3 61.8 11.8z"></path>
            <path d="M277.9 317.9c0 2.8-12.1 5.2-27 5.2s-27-2.3-27-5.2c0-2.9 12.1-5.2 27-5.2 14.9.1 27 2.4 27 5.2z" opacity=".4" fill="#0076ae"></path>
          <g class="vaca">




          <path class="st19" d="M204.3 248.4c.5-.1.6.3 1.2 1.4 2.3 4.2 6.8 3.4 8.4 3 .2-.1.4-.2.6-.2 1.6-.2 3.1 1.8 3.4 4.3.3 2.6-.8 4.8-2.4 5-10.9-.2-12-7.6-11.8-11.6.1-1.4.2-1.9.6-1.9z"></path>
          <path class="st20" d="M214.6 252.6c-.2 0-.4.1-.6.2-1.7.5-6.1 1.2-8.4-3-.5-.9-.7-1.3-1-1.4 0 2.1.8 7.3 7.9 7.7 1.7-1.2 2.8-2.2 3.6-3-.5-.4-1-.5-1.5-.5z"></path>
          <path class="st21" d="M281 248.2h-.5c-.6 0-1.1-.5-1.1-1 0-.6.5-1.1 1-1.1.3 0 6.3-.2 7.8-6.5.1-.6.7-.9 1.3-.8.6.1.9.7.8 1.3-1.5 6.8-7.5 7.9-9.3 8.1z"></path>
          <path class="st22" d="M286.7 236.4c-.8 2 .2 4.3 2.3 5.1 2 .8 4.3-.2 5.1-2.3 1.4-3.6-1.3-7.6-1.3-7.6s-4.7 1.1-6.1 4.8z"></path>
          <g class="st23">
            <path class="st21" d="M288.9 239.1c-1.2-1.9.1-3.7 2-4.5.6-.2.2-1.1-.3-.9-2.5 1-4 3.4-2.4 5.9.3.6 1 .1.7-.5zM292 234.1c.6-.1.5-1-.1-.9-.7 0-.6.9.1.9z"></path>
          </g>
          <path class="st21" d="M225.5 301.5c-.9 1.9 0 4.2 1.9 5 1.9.9 4.2 0 5-1.9l3.9-8.6c.9-1.9 0-4.2-1.9-5-1.9-.9-4.2 0-5 1.9l-3.9 8.6z"></path>
          <path class="st22" d="M232.3 305l-.5 1.2-.5 1.1-.5 1.1c-.4 1-1.6 1.4-2.5 1-1-.4-1.4-1.6-1-2.5-.4 1-1.6 1.4-2.5 1-1-.4-1.4-1.6-1-2.5l.5-1.1.5-1.1.5-1.2 7 3z"></path>
          <path class="st24" d="M234.4 291c-1.9-.9-4.2 0-5 1.9l-2.4 5.3c2.1 1.4 4.3 2.7 6.7 3.7l2.6-5.8c.9-2 0-4.2-1.9-5.1z"></path>
          <path class="st21" d="M212.2 270.4c2.1 20.5 21.3 35.2 42.7 33 21.4-2.3 37.1-20.7 34.9-41.1-2.1-20.5-21.3-35.2-42.7-33-21.5 2.3-37.1 20.7-34.9 41.1z"></path>
          <path class="st25" d="M265 231.5c-1.3 1.7-2.1 4.2.3 7.2 4.6 5.8 6.8 8.7 4.1 13.1-3.3 5.5 1.7 11.4 7.4 10.2 5.8-1.2 8.1-3 11.1-1.9.6.2 1.2.5 1.7.8-2-13.8-11.7-24.8-24.6-29.4z"></path>
          <path class="st26" d="M262.5 301.8c15.2-4.6 26.1-17.7 27.3-32.9-15.1 4.6-26 17.7-27.3 32.9z"></path>
          <g class="st16">
            <path class="st21" d="M281.5 279.2c-1.9 3.7-4.7 6.7-7.5 9.6-1.7 1.8 1.3 4.1 2.9 2.4 3.1-3.2 6-6.5 8-10.5 1.2-2.1-2.3-3.6-3.4-1.5z"></path>
          </g>
          <g class="st16">
            <path class="st21" d="M285.5 277.4c2.4-.3 2-4-.4-3.8-2.5.3-2.1 4.1.4 3.8z"></path>
          </g>
          <path d="M260.4 255.6c0-.6 0-1.1-.5-1.5-.3-.2-1 0-1.1 0 2.7-3.2 2.3-7.3 1.7-9.8-.4-1.4-.5-1.8-.9-1.8-.5.1-.5.4-.9 1.6-.9 3-3.2 4.1-5.1 4.5-5.4-5.1-13-7.8-22.1-6.5-4.3.6-11.7 2.5-16.5 9.5-4.6 6.9-3.9 9.8-2.9 18.5 1.2 11.1 2.1 16.3 10.9 22.2 20.8 7.4 40.3-8.8 38.9-25.9-.2-3-.9-5.8-2-8.4.3-.7.5-1.5.5-2.4z"
            opacity=".6" fill="#ccc7c5"></path>
          <path class="st21" d="M212.5 257.8c.5 3.5-1.8 6.7-5.2 7.3-2.8.5-5.5-.9-6.8-3.3-.3-.6-.5-1-.2-1.6.2-.4 1.1-.5 1.1-.5l11.1-1.9z"></path>
          <path class="st28" d="M212.2 258.1c.8 2.8-.8 5.7-3.6 6.5-2.3.7-4.7-.2-5.9-2.1-.3-.4-.3-.8-.1-1.3.3-.4 1.2-.7 1.2-.7l8.4-2.4z"></path>
          <path class="st21" d="M234.5 243.6l-11.8-2.4s.3 2.5 2.5 3.1l-4.8.2s.3.8 1.3 1.4c-10.4 4.3-17.2 14.3-16.1 25.1 1.4 13.5 14.6 23.1 29.5 21.5 14.9-1.6 25.8-13.7 24.3-27.2-1.2-12.1-11.9-21.1-24.9-21.7z"></path>
          <path class="st29" d="M207.3 270.7c.1 1.3 1.3 2.2 2.5 2 1.3-.1 2.2-1.3 2-2.5-.1-1.3-1.3-2.2-2.5-2-1.2.1-2.1 1.3-2 2.5z"></path>
          <path class="st25" d="M231 252.9c-1 1.3-4.9.3-5 4.4-.1 2.4-.3 4-1 5.2-1.4 2.5.4 5.4 5 3.6 4.6-1.8 5.2-.5 7.4 1s7.8-1.3 5.5-5.8-4.6-4.1-5.1-6.7c-.5-2.5-4.5-4.6-6.8-1.7zM259.5 265.2c-.3-2.9-1.2-5.6-2.5-8.1-1.7.2-5.3 2.3-6.3 6.9-2 8.7 4.1 13.3-.7 17.8-3 2.9-5.6 4.8-5.3 7.9 9.7-4.5 15.9-14.1 14.8-24.5z"></path>
          <path d="M224.3 264.5c-8.7.9-15.5 6.8-16.5 13.8 4.5 9.4 15.3 15.4 27.3 14.2 6-3.1 9.7-8.7 9.1-14.8-.9-8.4-9.8-14.3-19.9-13.2z"
            opacity=".4" fill="#eee4ed"></path>
          <path class="st28" d="M208.8 280.4c.8 7.8 9.1 13.3 18.5 12.3s16.4-8.1 15.5-15.9c-.8-7.8-9.1-13.3-18.5-12.3s-16.3 8.1-15.5 15.9z"></path>
          <path class="st31" d="M210.4 272.9c.8.5 1.8.8 2.8.6 2.4-.2 4.1-2.4 3.8-4.7-.1-.7-.3-1.3-.6-1.8-2.6 1.5-4.6 3.6-6 5.9z"></path>
          <path class="st28" d="M209.6 270.1c.2 2.1 2.1 3.6 4.1 3.4 2.1-.2 3.6-2.1 3.4-4.1-.2-2.1-2.1-3.6-4.2-3.4-2 .2-3.5 2.1-3.3 4.1z"></path>
          <path class="st31" d="M211.6 270.6c.1 1.3 1.3 2.3 2.7 2.2 1.3-.1 2.3-1.3 2.2-2.7-.1-1.3-1.3-2.3-2.7-2.2-1.4.2-2.4 1.4-2.2 2.7z"></path>
          <path class="st32" d="M212.6 270.8c.1 1.1 1.1 1.9 2.2 1.7 1.1-.1 1.9-1.1 1.7-2.1-.1-1.1-1.1-1.9-2.2-1.7-1.1 0-1.9 1-1.7 2.1z"></path>
          <path class="st31" d="M227.9 267.9c.2 2.3 2.3 3.9 4.5 3.7 2.3-.2 3.9-2.3 3.7-4.5v-.1c-2-1.2-4.4-2.1-7-2.4-.9.8-1.3 2-1.2 3.3z"></path>
          <path class="st28" d="M235.5 267.4c.2 2.1-1.3 3.9-3.4 4.1-2.1.2-3.9-1.3-4.1-3.4-.2-2.1 1.3-3.9 3.4-4.1 2-.1 3.8 1.4 4.1 3.4z"></path>
          <path class="st31" d="M233.6 268.3c.1 1.3-.8 2.5-2.2 2.7-1.3.1-2.5-.8-2.7-2.2-.1-1.3.8-2.5 2.2-2.7 1.4-.1 2.6.9 2.7 2.2z"></path>
          <path class="st32" d="M232.7 268.7c.1 1.1-.7 2-1.7 2.1-1.1.1-2-.7-2.2-1.7-.1-1.1.7-2 1.7-2.2 1.1-.1 2.1.7 2.2 1.8z"></path>
          <path d="M232.1 276.9s-3.6-.2-4.6-3" fill="none" stroke="#ff908a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            stroke-miterlimit="10"></path>
          <path d="M237.1 279.8c.3 2.6-1.6 4.9-4.2 5.2-2.6.3-4.9-1.6-5.2-4.2-.3-2.6 1.6-4.9 4.2-5.2 2.6-.3 5 1.6 5.2 4.2z" fill="#ffd1bc"></path>
          <path d="M236.4 279.9c.2 2.2-1.4 4.2-3.6 4.4-2.2.2-4.2-1.4-4.4-3.6-.2-2.2 1.4-4.2 3.6-4.4 2.2-.2 4.2 1.4 4.4 3.6z" fill="#38050b"></path>
          <g class="st0">
            <path class="st24" d="M221.8 263.8c-.6.1-1.2-.4-1.2-1-.1-1.1-1.1-1.9-2.2-1.8-1.1.1-1.9 1.1-1.8 2.2.1.6-.4 1.2-1 1.2-.6.1-1.2-.4-1.2-1-.2-2.3 1.4-4.4 3.8-4.6 2.3-.2 4.4 1.4 4.6 3.8 0 .5-.4 1.1-1 1.2z"></path>
          </g>
          <path class="st36" d="M221.2 263.8c-.6.1-1.2-.4-1.2-1-.1-1.1-1.1-1.9-2.2-1.8-1.1.1-1.9 1.1-1.8 2.2.1.6-.4 1.2-1 1.2-.6.1-1.2-.4-1.2-1-.2-2.3 1.4-4.4 3.8-4.6 2.3-.2 4.4 1.4 4.6 3.8 0 .6-.4 1.2-1 1.2z"></path>
          <path d="M235.7 262.3c-.6.1-1.2-.4-1.2-1-.1-1.1-1.1-1.9-2.2-1.8-1.1.1-1.9 1.1-1.8 2.2.1.6-.4 1.2-1 1.2-.6.1-1.2-.4-1.2-1-.2-2.3 1.4-4.4 3.8-4.6 2.3-.2 4.4 1.4 4.6 3.8.1.6-.4 1.1-1 1.2z"
            fill="#5975b0"></path>
          <path class="st36" d="M235.1 262.4c-.6.1-1.2-.4-1.2-1-.1-1.1-1.1-1.9-2.2-1.8-1.1.1-1.9 1.1-1.8 2.2.1.6-.4 1.2-1 1.2-.6.1-1.2-.4-1.2-1-.2-2.3 1.4-4.4 3.8-4.6 2.3-.2 4.4 1.4 4.6 3.8.1.5-.4 1.1-1 1.2z"></path>
          <path class="st19" d="M257.2 242.9c-.5 0-.5.4-.9 1.6-1.4 4.6-5.9 4.8-7.6 4.7-.2-.1-.4-.1-.7-.1-1.6.2-2.7 2.4-2.4 4.9.3 2.6 1.8 4.5 3.4 4.3 10.6-2.4 10.1-10 9.1-13.8-.4-1.2-.6-1.7-.9-1.6z"></path>
          <path class="st20" d="M258.1 244.6c-.4-1.4-.5-1.8-.9-1.8-.1 0-.2 0-.2.1.8 4 .7 10.8-9.3 13.1-.6.1-1.3-.2-1.8-.7.5 1.9 1.8 3.3 3.1 3.1 10.6-2.4 10.1-10 9.1-13.8z"></path>
          <path class="st20" d="M252 254.6c.1 1-.6 1.8-1.6 1.9-1 .1-1.8-.6-1.9-1.6-.1-1 .6-1.8 1.6-1.9.9 0 1.8.7 1.9 1.6z"></path>
          <path class="st20" d="M254.2 253.8c.1.7-.4 1.2-1.1 1.3-.7.1-1.2-.4-1.3-1.1-.1-.7.4-1.2 1.1-1.3.7 0 1.3.5 1.3 1.1z"></path>
          <path class="st25" d="M238.7 244.1c-1.4-.3-2.8-.4-4.2-.5l-11.8-2.4s.3 2.5 2.5 3.1l-4.8.2s.3.8 1.3 1.4c-1.6.7-3.2 1.5-4.6 2.4 0 .9.4 1.9 2.2 1.8 3.1-.1 2.2 1.4 4.2 1.2 2.5-.2 2.4-3.5 7.2-4.3 4.2-.7 6.7-.7 8-2.9z"></path>
          <path class="st24" d="M268.5 299l-5-8c-1.1-1.8-3.5-2.3-5.2-1.2-1.8 1.1-2.3 3.5-1.2 5.2l4.4 7c2.5-.7 4.9-1.6 7.2-2.8l-.2-.2z"></path>
          <path class="st21" d="M269.1 298c1.3 1.7 1 4-.7 5.3-1.7 1.3-4 1-5.3-.7l-5.8-7.5c-1.3-1.7-1-4 .7-5.3 1.7-1.3 4-1 5.3.7l5.8 7.5z"></path>
          <path class="st22" d="M263.3 303l.8 1 .7.9.7.9c.6.8 1.8 1 2.7.3.8-.6 1-1.8.3-2.7.6.8 1.8 1 2.7.3.8-.6 1-1.8.3-2.7l-.7-.9-.7-.9-.8-1-6 4.8z"></path>
          <path class="st26" d="M285.5 264c-1.9-.8-2.3-.1-3.1 1.9-.8 1.9.6 2.5-.2 4.4l7 3c.8-2.5 1.3-4.3 1.6-6.9l-5.3-2.4z"></path>
          <path class="st21" d="M294.3 265.9c2 .5 3.2 2.6 2.7 4.7-.5 2-2.6 3.2-4.7 2.7l-9.1-2.5c-2-.5-3.2-2.6-2.7-4.7.5-2 2.6-3.2 4.7-2.7l9.1 2.5z"></path>
          <path class="st22" d="M292.7 273.4l1.2.3 1.1.3 1.2.3c1 .3 2.1-.3 2.3-1.3.3-1-.3-2.1-1.3-2.3 1 .3 2.1-.3 2.3-1.3.3-1-.3-2.1-1.3-2.3l-1.2-.3-1.1-.3-1.2-.3-2 7.2z"></path>
          <path class="st25" d="M247.1 229.3c-5.1.5-9.8 2-14 4.1.9 1 2.4 1.9 4.7 1.4 4.8-1 4.3-2.7 9.7-1.9 3 .5 5-1.4 6-3.8-2.1-.1-4.3 0-6.4.2zM254.8 303.4c1.5-.2 2.9-.4 4.3-.7-1.2-2.9-4.1-3.6-8-2.4-4.3 1.2-3.6-.4-8-1.5-2.8-.7-5 1.1-6.3 2.5 5.6 1.9 11.7 2.7 18 2.1z"></path>
          <g>
            <path class="st29" d="M243.1 267.9c.1 1.3 1.3 2.2 2.5 2 1.3-.1 2.2-1.3 2-2.5-.1-1.3-1.3-2.2-2.5-2-1.2.1-2.1 1.2-2 2.5z"></path>
          </g>
          <g class="st16">
            <path class="st20" d="M257.1 250.1c0 .3-.2.6-.5.7-.3 0-.6-.2-.7-.5 0-.3.2-.6.5-.7.4-.1.7.1.7.5z"></path>
            <path class="st21" d="M219.9 287.8c-3-1.4-5.6-3.9-6.1-7.3-.3-1.8-3.1-1.5-2.8.3.6 4.4 3.8 7.7 7.7 9.6 1.7.8 2.9-1.8 1.2-2.6zM212.2 278.6c1.8-.2 1.5-3-.3-2.8-1.8.2-1.5 3 .3 2.8zM239 274.4c1.8-.2 1.5-3-.3-2.8-1.8.1-1.5 3 .3 2.8zM248 252.4c1.6.1 3.1-.2 4.5-.8 1.1-.5.4-2.3-.7-1.8-1.1.5-2.3.8-3.5.7-1.2-.1-1.5 1.8-.3 1.9zM254.4 250.2c1.2-.1 1-2-.2-1.9-1.2.2-1 2.1.2 1.9zM206.6 256.8c1.2-.1 1-2-.2-1.9-1.2.1-1 2 .2 1.9zM254.7 269c0 2.4-.6 4.4-1.7 6.4-1.2 2.2 2.3 3.7 3.5 1.6 1.5-2.7 2-5.3 2-8.4 0-2.4-3.8-2-3.8.4z"></path>
            <path class="st21" d="M257.5 265.7l.1-.1c.6-.8.5-2-.3-2.7-.8-.7-2-.5-2.7.3l-.1.1c-.6.8-.5 2 .3 2.7.9.6 2.1.5 2.7-.3zM269.7 241c4 2.6 6.8 6.8 8.5 11.2.9 2.3 4.4.9 3.5-1.4-1.8-5-5.1-9.8-9.6-12.8-2-1.3-4.4 1.6-2.4 3zM281.8 258.1c2.4-.3 2-4-.4-3.8-2.4.3-2 4.1.4 3.8zM225.7 303.4c-.3.8-.7 1.5-1.1 2.2-.3.5.6.9.9.4.4-.7.8-1.5 1.1-2.2.2-.6-.6-1-.9-.4zM228.7 308.3c.6-.1.5-1-.1-.9-.6 0-.5.9.1.9zM264.7 303.2c.5.7 1.2 1.4 1.7 2.1.4.5 1.1-.1.8-.6-.5-.7-1.2-1.4-1.7-2.1-.4-.5-1.2.1-.8.6zM270.4 303.3c.6-.1.5-1-.1-.9-.6 0-.5 1 .1.9zM293.9 272.8c.7.1 1.4.4 2 .6.6.1.7-.8.2-.9-.7-.2-1.4-.4-2-.6-.6-.2-.8.7-.2.9zM297.2 273.4c.6-.1.5-1-.1-.9-.6 0-.5 1 .1.9z"></path>
          </g>
          <path class="st25" d="M265.1 279.8c-2.3-.1-2.1 1.9-6 2.8-3.1.8-3.1 4.3-.6 4.6 2.5.3 1 3.8 4 3.2 3.1-.6.1-4.8 3-5.6 2.9-.7 2.2-4.9-.4-5zM263 274.8c-1.8.2-4.2 5.2-.6 4.5 3.5-.7 2.4-4.7.6-4.5zM267.2 277.6c-.6-.4-2.5.6-1.3 1.2 1.3.7 1.9-.8 1.3-1.2z"></path>
        <g>
            <path class="st21" d="M246.7 257.2c.7 3.4 4 5.7 7.4 5.1 2.8-.5 4.9-2.7 5.2-5.4.1-.6.2-1.1-.4-1.5-.3-.3-1.2-.1-1.2-.1l-11 1.9z"></path>
            <path class="st28" d="M247.1 257.4c.2 2.9 2.7 5.1 5.6 4.9 2.4-.1 4.3-1.8 4.8-4 .1-.5 0-.9-.4-1.2-.4-.3-1.4-.2-1.4-.2l-8.6.5z"></path>
          </g>

        </g>
          <g class="st16">
            <path class="st21" d="M214.8 263.6c.6-.1.5-1-.1-.9-.6 0-.5.9.1.9zM215.5 261.8c.1-.5.6-1 1-1.2.6-.2.2-1.1-.3-.9-.8.3-1.5 1-1.6 1.9-.2.7.8.8.9.2z"></path>
          </g>
          <g class="st16">
            <path class="st21" d="M228.7 262.1c.6-.1.5-1-.1-.9-.6 0-.5 1 .1.9zM229.4 260.4c.1-.5.5-1 1-1.2.6-.2.2-1.1-.3-.9-.8.3-1.5 1.1-1.6 1.9-.2.6.7.8.9.2z"></path>
          </g>
          <g class="st16">
            <path class="st21" d="M212.9 266.5c-.5.1-.9.2-1.2.5-.5.4.1 1.1.6.8.2-.2.5-.3.8-.3.5-.2.4-1.1-.2-1zM210.5 268.4c-.7 1.2-.5 2.8.3 3.9.4.5 1.1-.1.8-.6-.7-.8-.7-2-.2-2.9.3-.6-.6-.9-.9-.4zM229.7 266.3c.5-.4 1.1-.8 1.8-.8.6 0 .8-.9.2-.9-.9-.1-1.8.3-2.5.9-.5.4 0 1.2.5.8z"></path>
            <path class="st21" d="M232.6 265.7c.1 0 .1 0 .2.1.5.4 1-.3.6-.7-.2-.2-.4-.2-.6-.3-.6-.1-.8.8-.2.9z"></path>
          </g>
          <g class="st38">
            <path class="st39" d="M288 271.5c-.4 0-.7-.1-1-.3-.2-.2-.4-.5-.4-.8 0-.3.1-.6.3-.9.3-.4 1-.5 1.4-.1.3.3.4.8.1 1.1-.1.1-.3.2-.5.3-.2 0-.4 0-.5-.1-.1-.1-.1-.2 0-.3.1-.1.2-.1.3 0 .1.1.1.1.2.1s.2 0 .2-.1c.1-.2.1-.5-.1-.6-.3-.2-.6-.2-.8.1-.1.2-.2.4-.2.6 0 .2.1.4.3.5.4.3 1.1.3 1.4-.2.1-.1.2-.1.3 0 .1.1.1.2 0 .3-.2.1-.6.3-1 .4z"></path>
          </g>
          <g class="st38">
            <path class="st39" d="M261.7 297.9c-.4 0-.7-.1-1-.3-.2-.2-.4-.5-.4-.8 0-.3.1-.6.3-.9.3-.4.9-.5 1.4-.1.3.3.4.8.1 1.1-.1.1-.3.2-.5.3-.2 0-.4 0-.5-.1-.1-.1-.1-.2 0-.3.1-.1.2-.1.3 0 .1.1.1.1.2.1s.2 0 .2-.1c.1-.2.1-.5-.1-.6-.3-.2-.6-.2-.8.1-.1.2-.2.4-.2.6 0 .2.1.4.3.5.4.3 1.1.3 1.4-.1.1-.1.2-.1.3 0 .1.1.1.2 0 .3-.2.1-.6.3-1 .3z"></path>
          </g>
          <g class="st38">
            <path class="st39" d="M228.3 301.1c-.4 0-.7-.1-1-.3-.2-.2-.4-.5-.4-.8 0-.3.1-.6.3-.9.3-.4.9-.5 1.4-.1.3.3.4.8.1 1.1-.1.1-.3.2-.5.3-.2 0-.4 0-.5-.2-.1-.1-.1-.2 0-.3.1-.1.2-.1.3 0 .1 0 .1.1.2.1s.2 0 .2-.1c.2-.2.1-.5-.1-.6-.3-.2-.6-.2-.8.1-.1.2-.2.4-.2.6 0 .2.1.4.3.5.4.3 1.1.3 1.4-.2.1-.1.2-.1.3 0 .1.1.1.2 0 .3-.3.3-.6.5-1 .5z"></path>
          </g>

          <path d="M316.1 129.3c0 8.6-28.8 15.5-64.3 15.5s-64.3-7-64.3-15.5c0-8.6 25.4-38.3 64.3-38.3 42.3 0 64.3 29.8 64.3 38.3z"
            fill="#a2eaff"></path>
          <path class="st41" d="M316.1 129.3c0-3.3-3.2-9.5-9.4-16.1-13.3-6.5-32-10.4-54.9-10.4-21.1 0-40.5 4.5-54.5 11-6.3 6.4-9.8 12.4-9.8 15.6 0 .4.1.8.2 1.2 10.6-.3 21.4-1.1 31.7-.8 18.3.5 36.6.1 54.9.3 13.8.2 27.5.5 41.3 1 .3-.6.5-1.2.5-1.8z"></path>
          <path class="st41" d="M251.8 91s-18.5-1.7-25.5 15.3l-15.5 3.1c-.1 0 11-18 41-18.4zM251.8 91s11.1 3.5 13.8 15.3c11.9 1.8 20.9.1 20.9.1s-11.4-13-34.7-15.4z"></path>
          <path class="st41" d="M251.8 91s24 1.6 42.7 17.8l5.6 1.6c-.1 0-17.2-18.6-48.3-19.4z"></path>
          <path class="st42" d="M221.8 128c16.9.4 33.9.1 50.8.3 16.3.2 32.6.5 48.9 1.3-7.6-13.7-32.8-23.3-69.7-23.3-34.1 0-63.4 10.9-69.6 22.5 12.9.2 26.7-1.1 39.6-.8z"></path>
          <path d="M221.8 128.3c16.9.4 33.9.1 50.8.2 16.3.2 32.6.5 48.9 1.1-7.6-11.9-32.8-20.2-69.7-20.2-34.1 0-63.4 9.5-69.6 19.5 12.9.2 26.7-.9 39.6-.6z"
            fill="#0096e1"></path>
          <path class="st44" d="M214.9 142c20.8.6 41.7.1 62.5.4 20.1.3 40.1.8 60.1 1.9-9.4-20-40.4-33.9-85.8-33.9-41.9 0-78 15.9-85.6 32.7 15.9.3 32.9-1.5 48.8-1.1z"></path>
          <path d="M306.7 119.3l14.8 13.1-21.2-4-12.1-14.6c-2.2-.5-4.5-.9-6.8-1.2l11.8 14.9-32.7-2.1-5.2-15h-3.5c-4.4 0-8.8.2-13.1.5l-1 14.7-13.8 5.5-1.2-4.7 9.2-14.8c-33 4-59.3 17.4-65.7 31.5 15.9.3 32.9-1.5 48.7-1.1 20.8.6 41.7.1 62.5.4 20.1.3 40.1.8 60.1 1.9-4.8-10.3-15.4-19-30.8-25z"
            fill="#00766c"></path>
          <path d="M347.1 146.9c0 12.7-42.7 23-95.4 23s-95.4-10.3-95.4-23 42.7-23 95.4-23 95.4 10.3 95.4 23z" fill="#1fffc1"></path>
          <path d="M347.1 147.6c0 12.3-42.7 22.3-95.4 22.3s-95.4-10-95.4-22.3 42.7-22.3 95.4-22.3 95.4 10 95.4 22.3z" fill="#1fde96"></path>
          <path d="M322.5 132.7l-24.1 16.1-12.7-1.9 14.6-18.4c-2.3-.3-4.7-.6-7.1-.9l-11.7 18.9-23.9-1.4 2.9-19.6c-2.9-.1-5.8-.1-8.8-.1-4.8 0-9.5.1-14.1.2l3.2 19.6-10.3.5-7.9-19.3c-22.3 1.7-41 5.2-52.8 9.8 11.6 8.6 21.9 16 21.9 16l64.9 17.7c13.9-.2 27-1 38.7-2.4l3.5-.9 15.1-13.5 26-13.9c-4.1-2.4-10.1-4.6-17.4-6.5z"
            fill="#21c791"></path>
          <path class="st44" d="M323.4 158.9c0 9.1-32.1 16.6-71.6 16.6-39.6 0-71.6-7.4-71.6-16.6 0-9.1 32.1-16.6 71.6-16.6 39.5 0 71.6 7.4 71.6 16.6z"></path>
          <path class="st42" d="M322 160c0-8.3-31.4-15.1-70.2-15.1-38.8 0-70.2 6.8-70.2 15.1 0 .6.2 1.2.5 1.7l8.1 14.1 123.1.3 8.2-14.3c.3-.5.5-1.1.5-1.8z"></path>
          <g>
            <path class="st49" d="M242.8 166.7h14.9V145c-1.9 0-3.9-.1-5.9-.1-3.7 0-7.4.1-10.9.2l1.9 21.6zM285.7 146.8c-1.4-.2-2.8-.3-4.2-.5l-3.3 22.2h3.2l4.3-21.7zM202.9 172.5l31.5-7.3-3.8-19.5c-16.3 1.1-30 3.5-38.8 6.6l11.1 20.2zM298.4 148.8l-5.4 22 10.2 1.9 10.9-19.6c-4-1.6-9.3-3.1-15.7-4.3z"></path>
          </g>
          <path d="M313.5 174.8c0 7.5-27.6 13.6-61.7 13.6s-61.7-6.1-61.7-13.6 27.6-13.6 61.7-13.6c34-.1 61.7 6 61.7 13.6z" fill="#00deff"></path>
          <path d="M313.5 175.1c0 7.3-27.6 13.3-61.7 13.3s-61.7-5.9-61.7-13.3c0-7.3 27.6-13.3 61.7-13.3 34 .1 61.7 6 61.7 13.3z" fill="#0069d5"></path>
          <g>
            <path class="st17" d="M306.5 176.2c0 5.8-24.5 10.5-54.7 10.5-30.2 0-54.7-4.7-54.7-10.5s24.5-10.5 54.7-10.5c30.2 0 54.7 4.7 54.7 10.5z"></path>
            <path d="M305.5 174.7c-2.7 5.6-25.7 10.1-53.7 10.1-28 0-51-4.4-53.7-10.1-.6.6-1 1.3-1 2 0 5.8 24.5 10.5 54.7 10.5 30.2 0 54.7-4.7 54.7-10.5 0-.7-.3-1.4-1-2z"
              fill="#0089d5"></path>
            <path d="M305.5 174.2c-2.7 5.6-25.7 10.1-53.7 10.1-28 0-51-4.4-53.7-10.1-.6.6-1 1.3-1 2 0 5.8 24.5 10.5 54.7 10.5 30.2 0 54.7-4.7 54.7-10.5 0-.7-.3-1.3-1-2z"
              fill="#00257a"></path>
            <path class="st8" d="M284.7 175.9c0 3.7-14.7 6.6-32.9 6.6s-32.9-3-32.9-6.6c0-3.7 14.7-6.6 32.9-6.6 18.1-.1 32.9 2.9 32.9 6.6z"></path>

            <path class="st9" d="M267.3 175.9c0 1.7-7 3.1-15.6 3.1s-15.6-1.4-15.6-3.1c0-1.7 7-3.1 15.6-3.1 8.7-.1 15.6 1.3 15.6 3.1z"></path>
          </g>
          <path class="st12" d="M312.6 320l-19.9-145.4c0-4.4-18.7-8-41.8-8-22.6 0-41 3.4-41.8 7.7L189.2 320c-.1.2-.1.4-.1.6 0 6.5 27.7 11.8 61.8 11.8 34.1 0 61.8-5.3 61.8-11.8-.1-.2-.1-.4-.1-.6z"></path>
          <g>
            <g class="st54">
              <path class="st55" d="M238.5 198.8c1.5 0 1.5-2.4 0-2.4-1.6.1-1.6 2.4 0 2.4z"></path>
            </g>
            <g class="st54">
              <path class="st55" d="M239.1 193.5c1.5 0 1.5-2.4 0-2.4s-1.5 2.4 0 2.4z"></path>
            </g>
            <g class="st54">
              <path class="st55" d="M251.4 178.2v23.6c0 1.5 2.4 1.5 2.4 0v-23.6c0-1.6-2.4-1.6-2.4 0z"></path>
            </g>
            <g class="st54">
              <path class="st55" d="M231.9 196.8v23.6c0 1.5 2.4 1.5 2.4 0v-23.6c0-1.6-2.4-1.6-2.4 0z"></path>
            </g>
            <g class="st54">
              <path class="st55" d="M243.8 195.9v11.9c0 1.5 2.4 1.5 2.4 0v-11.9c0-1.5-2.4-1.5-2.4 0z"></path>
            </g>
            <g class="st54">
              <path class="st55" d="M259.9 178.8v28.9c0 1.5 2.4 1.5 2.4 0v-28.9c-.1-1.5-2.4-1.5-2.4 0z"></path>
            </g>
            <g class="st54">
              <path class="st55" d="M267.4 180c0 4.5.3 9 .3 13.5 0 1.5 2.4 1.5 2.4 0 0-4.5-.3-9-.3-13.5 0-1.5-2.4-1.5-2.4 0z"></path>
            </g>
            <g class="st54">
              <path class="st55" d="M275.9 202.7v30.5c0 1.5 2.4 1.5 2.4 0v-30.5c0-1.6-2.4-1.6-2.4 0z"></path>
            </g>
            <g class="st54">
              <path class="st55" d="M272.5 232.2v23.2c0 1.5 2.4 1.5 2.4 0v-23.2c-.1-1.5-2.4-1.5-2.4 0z"></path>
            </g>
            <g class="st54">
              <path class="st55" d="M265.5 229.4v26.4c0 1.5 2.4 1.5 2.4 0v-26.4c0-1.6-2.4-1.6-2.4 0z"></path>
            </g>
            <g class="st54">
              <path class="st55" d="M223.9 180.1v22c0 1.5 2.4 1.5 2.4 0v-22c0-1.5-2.4-1.5-2.4 0z"></path>
            </g>
            <g class="st54">
              <path class="st55" d="M216.1 207v35.1c0 1.5 2.4 1.5 2.4 0V207c-.1-1.6-2.4-1.6-2.4 0z"></path>
            </g>
            <g class="st54">
              <path class="st55" d="M291.6 216.9V252c0 1.5 2.4 1.5 2.4 0v-35.1c-.1-1.5-2.4-1.5-2.4 0z"></path>
            </g>
            <g class="st54">
              <path class="st55" d="M231.3 246.3v11c0 1.5 2.4 1.5 2.4 0v-11c0-1.5-2.4-1.5-2.4 0z"></path>
            </g>
            <g class="st54">
              <path class="st55" d="M240.4 235.6v18.5c0 1.5 2.4 1.5 2.4 0v-18.5c0-1.5-2.4-1.5-2.4 0z"></path>
            </g>
          </g>
          <g>
            <path class="st12" d="M284.2 293.9c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1 0-.6-.5-1.1-1.1-1.1-.6 0-1.1.5-1.1 1.1zM279.3 309.4c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1 0-.6-.5-1.1-1.1-1.1-.6.1-1.1.5-1.1 1.1zM284.1 303.3c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1 0-.6-.5-1.1-1.1-1.1-.6 0-1.1.5-1.1 1.1zM287.1 308.4c0 .6.5 1.1 1.1 1.1s1.1-.5 1.1-1.1c0-.6-.5-1.1-1.1-1.1s-1.1.5-1.1 1.1zM288.7 304.1c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1 0-.6-.5-1.1-1.1-1.1-.6.1-1.1.5-1.1 1.1zM288.5 295c0 .6.5 1.1 1.1 1.1s1.1-.5 1.1-1.1c0-.6-.5-1.1-1.1-1.1s-1.1.5-1.1 1.1zM217.5 308.8c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1 0-.6-.5-1.1-1.1-1.1-.6 0-1.1.5-1.1 1.1zM202.7 310.5c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1 0-.6-.5-1.1-1.1-1.1-.7 0-1.1.5-1.1 1.1zM196 313.8c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1 0-.6-.5-1.1-1.1-1.1-.7.1-1.1.5-1.1 1.1zM210.2 310.5c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1 0-.6-.5-1.1-1.1-1.1-.7 0-1.1.5-1.1 1.1zM203.7 305.6c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1 0-.6-.5-1.1-1.1-1.1-.6.1-1.1.6-1.1 1.1zM287.6 288.6c0 .3.2.5.5.5s.5-.2.5-.5-.2-.5-.5-.5c-.2-.1-.5.2-.5.5zM209.1 298.6c0 .3.2.5.5.5s.5-.2.5-.5-.2-.5-.5-.5c-.3-.1-.5.2-.5.5zM205.4 288c0 .3.2.5.5.5s.5-.2.5-.5-.2-.5-.5-.5-.5.2-.5.5zM288.5 281.6c0 .3.2.5.5.5s.5-.2.5-.5-.2-.5-.5-.5-.5.2-.5.5zM295.6 306.6c0 .3.2.5.5.5s.5-.2.5-.5-.2-.5-.5-.5c-.2 0-.5.2-.5.5zM295.9 279.4c0 .3.2.5.5.5s.5-.2.5-.5-.2-.5-.5-.5c-.2-.1-.5.2-.5.5zM200.1 296.6c0 .3.2.5.5.5s.5-.2.5-.5-.2-.5-.5-.5c-.2 0-.5.2-.5.5zM203.2 280.3c0 .3.2.5.5.5s.5-.2.5-.5-.2-.5-.5-.5-.5.2-.5.5zM210.2 305.6c0 .3.2.5.5.5s.5-.2.5-.5-.2-.5-.5-.5-.5.3-.5.5z"></path>
          </g>
        </g>
        <g>
          <path class="st56" d="M224 213.4c1.4.7 2.5 1.8 3 3.3.5 1.5.3 3.1-.3 4.4-.6 1.3-1.7 2.4-3.2 2.9-1.5.5-3.1.4-4.4-.2-1.3-.6-2.5-1.7-3.1-3.1-.6-1.5-.6-3 0-4.4.6-1.4 1.8-2.6 3.4-3.1 1.5-.6 3.3-.5 4.6.2zm1.1 3.9c-.4-1-1.1-1.8-2.1-2.3-.9-.4-2-.5-3-.2-1.1.4-1.8 1.1-2.2 2.1-.4.9-.4 2 0 3s1.2 1.8 2.1 2.2c.9.4 1.9.5 2.9.1.9-.3 1.7-1 2.1-2 .5-.8.6-1.9.2-2.9zM238.6 209.5c1.3.8 2.3 2.1 2.6 3.6.3 1.6 0 3.1-.8 4.3-.8 1.2-2 2.2-3.5 2.5-1.5.4-3.1.1-4.4-.7-1.3-.7-2.3-1.9-2.8-3.4s-.3-3.1.5-4.4c.7-1.3 2.1-2.3 3.8-2.7 1.6-.3 3.3 0 4.6.8zm.7 4c-.2-1.1-.9-2-1.8-2.5s-2-.7-3-.5c-1.1.3-2 .9-2.5 1.8s-.7 2-.4 3c.3 1 1 1.9 1.9 2.4.9.5 1.9.7 2.9.5 1-.2 1.8-.9 2.3-1.7.6-.8.8-1.9.6-3zM253.7 207.3c1.2 1 2.1 2.3 2.2 3.9.2 1.6-.4 3.1-1.3 4.2s-2.3 1.9-3.8 2.1c-1.6.2-3.1-.3-4.3-1.1-1.2-.9-2.1-2.2-2.4-3.7-.3-1.6.1-3.1 1-4.3.9-1.2 2.4-2.1 4.1-2.3 1.6-.2 3.3.3 4.5 1.2zm.3 4.1c-.1-1.1-.7-2.1-1.5-2.7-.8-.6-1.9-1-3-.8-1.1.1-2.1.7-2.7 1.5-.6.8-.9 1.9-.7 2.9.2 1.1.8 2 1.6 2.6.8.6 1.8.9 2.9.8 1-.1 1.9-.7 2.5-1.4.6-.8 1-1.8.9-2.9zM263.6 212.3h-2.2c.1 1.2.1 2.3.2 3.5 0 .5-.4.9-.9.9s-1-.4-1-.8c-.2-3.2-.4-6.3-.7-9.5 0-.5.4-.9.9-.9 1.1 0 2.2-.1 3.3-.1 2.2 0 4 1.5 4.1 3.5.1 1.9-1.6 3.4-3.7 3.4zm-2.2-1.7c.7 0 1.5 0 2.2-.1 1 0 1.8-.8 1.8-1.7 0-.9-.9-1.7-2-1.7-.7 0-1.5 0-2.2.1 0 1.2.1 2.3.2 3.4zM269.4 213.9c.3-.3.9-.4 1.3-.1.8.6 2.1 1.3 3.3 1.4.9.1 1.7-.1 2.2-.4.5-.3.8-.7.8-1.1 0-.2 0-.4-.1-.5-.1-.2-.2-.3-.5-.5-.5-.3-1.4-.7-2.4-.9-.8-.2-1.6-.4-2.3-.8-.7-.3-1.3-.7-1.7-1.3-.3-.4-.4-.8-.4-1.3 0-1 .6-1.8 1.5-2.3.9-.5 2-.8 3.2-.7 1.8.1 3.1 1 4 1.6.4.3.5.8.2 1.2-.3.4-.9.4-1.3.1-.9-.6-1.8-1.2-2.9-1.3-.8-.1-1.6.1-2.1.4-.5.3-.7.6-.7 1 0 .2 0 .3.1.5.1.1.3.3.5.4.5.3 1.3.6 2.2.8.9.2 1.8.5 2.5.9s1.3.9 1.7 1.5c.2.4.4.9.3 1.4-.1 1-.8 1.8-1.7 2.3-.9.5-2 .7-3.2.7-1.9-.1-3.4-1.1-4.4-1.8-.4-.3-.4-.8-.1-1.2zM281.4 213.8c.2-2.2.4-4.3.5-6.5 0-.5.5-.8 1.1-.8.6.1 1 .5.9 1-.2 2.2-.4 4.3-.6 6.5-.1.5-.5.8-1 .8-.5-.1-1-.5-.9-1zm.6 3.9c-.5-.1-.9-.5-.9-1v-.3c0-.5.5-.8 1.1-.8.5.1.9.5.8 1v.3c-.1.6-.5.9-1 .8z"></path>
        </g>
        <g>
          <path class="st57" d="M288.9 320.6c-2.2 1.8-2.9 4.6-3.2 7.3-.2 1.7 2.5 1.7 2.7 0 .2-2 .8-4.1 2.4-5.4 1.3-1.1-.5-3-1.9-1.9zM279.6 326.2c.9.5 1.6 1.2 2.1 2.1.3.6 1.2.8 1.8.5.6-.4.8-1.2.5-1.8-.7-1.3-1.8-2.3-3.1-3.1-1.5-.9-2.8 1.4-1.3 2.3z"></path>
        </g>
        <g>
          <path class="st57" d="M366.9 339c-2.2 1.8-2.9 4.6-3.2 7.3-.2 1.7 2.5 1.7 2.7 0 .2-2 .8-4.1 2.4-5.4 1.3-1.1-.6-2.9-1.9-1.9zM357.5 344.6c.9.5 1.6 1.2 2.1 2.1.3.6 1.2.8 1.8.5.6-.4.8-1.2.5-1.8-.7-1.3-1.8-2.3-3.1-3.1-1.4-.9-2.7 1.4-1.3 2.3z"></path>
        </g>
        <g>
          <path class="st57" d="M301.6 316.4c1.1.9 1.4 2.3 1.6 3.6.1.8-1.2.8-1.3 0-.1-1-.4-2-1.2-2.7-.7-.5.2-1.4.9-.9zM306.2 319.2c-.4.3-.8.6-1 1-.2.3-.6.4-.9.2-.3-.2-.4-.6-.2-.9.3-.6.9-1.1 1.5-1.5.7-.4 1.3.7.6 1.2z"></path>
        </g>
        <g>
          <path class="st57" d="M330.1 335.5c-.1-1.1.2-2.2.6-3.2.9-2.2-2.5-3.5-3.3-1.4-.6 1.6-1 3.3-.8 5 .2 2.4 3.8 1.9 3.5-.4zM335.3 336.2c.1-.6.3-.8.6-1.2.3-.3.3-.3.7-.5-.2.1.3-.1.3-.1.2-.1.4-.1.6-.1 1-.2 1.5-1.3 1.3-2.2-.3-1-1.3-1.4-2.2-1.3-2.3.4-4.3 2.1-4.8 4.5-.2 1 .3 1.9 1.3 2.2.9.2 2-.3 2.2-1.3z"></path>
        </g>
        <g>
          <path class="st57" d="M159.5 339.8c3.1 1.5 4.7 4.3 5.6 7.6.6 2.2 4.1 1.3 3.5-1-1.1-4.1-3.3-7.8-7.2-9.7-2.2-1-4 2.1-1.9 3.1zM174 345.5c0-5.3.9-10 3.9-14.5 1.3-2-1.8-3.8-3.1-1.8-3.3 5-4.4 10.3-4.4 16.3 0 2.4 3.6 2.4 3.6 0zM179.7 337.6c-2.6 1.9-3.3 5.1-4 8.1-.6 2.3 2.9 3.2 3.5 1 .4-1.8.8-4.8 2.4-6 1.7-1.4-.1-4.5-1.9-3.1z"></path>
        </g>
        <g>
          <path class="st57" d="M210.4 315.5c-1.4.7-2.2 2-2.6 3.5-.3 1-1.9.6-1.6-.4.5-1.9 1.5-3.6 3.3-4.5 1-.5 1.8.9.9 1.4zM203.7 318.1c0-2.5-.4-4.6-1.8-6.6-.6-.9.8-1.7 1.4-.8 1.5 2.3 2 4.7 2 7.5.1 1-1.6 1-1.6-.1zM201.1 314.5c1.2.9 1.5 2.4 1.8 3.7.3 1-1.3 1.5-1.6.4-.2-.8-.3-2.2-1.1-2.7-.8-.6.1-2.1.9-1.4z"></path>
        </g>
        <g>
          <path class="st57" d="M298.6 311.5c-1 .5-1.5 1.4-1.8 2.4-.2.7-1.3.4-1.1-.3.3-1.3 1.1-2.5 2.3-3.1.7-.4 1.3.6.6 1zM293.9 313.3c0-1.7-.3-3.2-1.3-4.7-.4-.6.6-1.2 1-.6 1.1 1.6 1.4 3.3 1.4 5.2.1.8-1.1.8-1.1.1zM292.1 310.7c.8.6 1.1 1.6 1.3 2.6.2.7-.9 1-1.1.3-.1-.6-.2-1.5-.8-1.9-.6-.4 0-1.4.6-1z"></path>
        </g>
        <g>
          <path class="st57" d="M250.2 356.3l1 1c-.2-.3.1.2.2.3.1.1.1.2.2.3.2.5-.1-.3.1.2.3.9 1.2 1.5 2.2 1.3.9-.2 1.6-1.3 1.3-2.2-.5-1.4-1.3-2.4-2.3-3.4-.7-.7-1.9-.7-2.6 0-.8.6-.8 1.8-.1 2.5zM256.8 349v8.6c0 2.3 3.6 2.3 3.6 0V349c0-2.3-3.6-2.3-3.6 0zM265.1 359.5c1.5-1.9 3-3.7 4.5-5.6.6-.8.8-1.8 0-2.6-.6-.6-1.9-.8-2.6 0-1.5 1.9-3 3.7-4.5 5.6-.6.8-.8 1.8 0 2.6.7.6 2 .8 2.6 0z"></path>
        </g>
        <g>
          <path class="st58" d="M291.1 296.1c1.2 0 2.1-1 2.1-2.1 0-1.2-1-2.1-2.1-2.1-1.2 0-2.1 1-2.1 2.1s.9 2.1 2.1 2.1zM296.7 296.1c1.2 0 2.1-1 2.1-2.1 0-1.2-1-2.1-2.1-2.1-1.2 0-2.1 1-2.1 2.1s1 2.1 2.1 2.1z"></path>
          <path class="st59" d="M293 293.1c-.3-.6-.8-1.1-1.4-1.2.3.5.8 1 1.4 1.2zM293 294.8c-.6.2-1.1.6-1.4 1.1.7-.1 1.2-.5 1.4-1.1zM294.8 294.8c.3.6.8 1 1.4 1.1-.3-.4-.8-.8-1.4-1.1zM294.8 293.1c.6-.2 1.1-.7 1.4-1.2-.6.1-1.1.6-1.4 1.2z"></path>
          <g>
            <path class="st2" d="M291.9 291.2c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2zM291.9 296.6c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2z"></path>
          </g>
          <path class="st21" d="M292.7 293.9c0 .7.6 1.3 1.3 1.3.7 0 1.3-.6 1.3-1.3 0-.7-.6-1.3-1.3-1.3-.8.1-1.3.6-1.3 1.3z"></path>
        </g>
        <g>
          <path class="st58" d="M289.4 283.5c.7 0 1.3-.6 1.3-1.3 0-.7-.6-1.3-1.3-1.3-.7 0-1.3.6-1.3 1.3 0 .7.6 1.3 1.3 1.3zM293 283.5c.7 0 1.3-.6 1.3-1.3 0-.7-.6-1.3-1.3-1.3-.7 0-1.3.6-1.3 1.3-.1.7.5 1.3 1.3 1.3z"></path>
          <path class="st59" d="M290.6 281.7c-.2-.4-.5-.7-.9-.8.2.3.6.6.9.8zM290.6 282.8c-.4.1-.7.4-.9.7.4-.1.8-.4.9-.7zM291.8 282.8c.2.4.5.6.9.7-.3-.3-.6-.6-.9-.7zM291.7 281.7c.4-.1.7-.4.9-.8-.4.1-.7.4-.9.8z"></path>
          <g>
            <path class="st2" d="M289.9 280.5c0 .7.6 1.3 1.3 1.3s1.3-.6 1.3-1.3c0-.7-.6-1.3-1.3-1.3s-1.3.6-1.3 1.3zM289.9 283.9c0 .7.6 1.3 1.3 1.3.7 0 1.3-.6 1.3-1.3 0-.7-.6-1.3-1.3-1.3-.7 0-1.3.6-1.3 1.3z"></path>
          </g>
          <path class="st21" d="M290.4 282.2c0 .4.4.8.8.8s.8-.4.8-.8-.4-.8-.8-.8-.8.4-.8.8z"></path>
        </g>
        <g>
          <path class="st58" d="M215.1 235.1c.7 0 1.3-.6 1.3-1.3 0-.7-.6-1.3-1.3-1.3-.7 0-1.3.6-1.3 1.3-.1.7.5 1.3 1.3 1.3zM218.6 235.1c.7 0 1.3-.6 1.3-1.3 0-.7-.6-1.3-1.3-1.3-.7 0-1.3.6-1.3 1.3 0 .7.6 1.3 1.3 1.3z"></path>
          <path class="st59" d="M216.3 233.2c-.2-.4-.5-.7-.9-.8.2.4.5.7.9.8zM216.3 234.3c-.4.1-.7.4-.9.7.4 0 .7-.3.9-.7zM217.4 234.3c.2.4.5.6.9.7-.2-.3-.5-.5-.9-.7zM217.4 233.2c.4-.1.7-.4.9-.8-.4.2-.8.5-.9.8z"></path>
          <g>
            <path class="st2" d="M215.6 232.1c0 .7.6 1.3 1.3 1.3s1.3-.6 1.3-1.3c0-.7-.6-1.3-1.3-1.3s-1.3.6-1.3 1.3zM215.6 235.5c0 .7.6 1.3 1.3 1.3.7 0 1.3-.6 1.3-1.3 0-.7-.6-1.3-1.3-1.3-.8 0-1.3.6-1.3 1.3z"></path>
          </g>
          <path class="st21" d="M216 233.8c0 .4.4.8.8.8s.8-.4.8-.8-.4-.8-.8-.8-.8.3-.8.8z"></path>
        </g>
        <g>
          <path class="st57" d="M306.1 345.7c0-3 .5-5.5 2.2-8 .7-1.1-1-2.1-1.7-1-1.8 2.8-2.4 5.7-2.4 9-.1 1.3 1.9 1.3 1.9 0z"></path>
          <path class="st58" d="M305.4 338.3c1.2 0 2.1-1 2.1-2.1 0-1.2-1-2.1-2.1-2.1-1.2 0-2.1 1-2.1 2.1 0 1.2.9 2.1 2.1 2.1zM311.1 338.3c1.2 0 2.1-1 2.1-2.1 0-1.2-1-2.1-2.1-2.1-1.2 0-2.1 1-2.1 2.1 0 1.2.9 2.1 2.1 2.1z"></path>
          <path class="st59" d="M307.4 335.3c-.3-.6-.8-1.1-1.4-1.2.3.6.8 1 1.4 1.2zM307.4 337.1c-.6.2-1.1.6-1.4 1.1.6-.1 1.1-.5 1.4-1.1zM309.2 337.1c.3.6.8 1 1.4 1.1-.4-.5-.9-.9-1.4-1.1zM309.1 335.3c.6-.2 1.1-.7 1.4-1.2-.6.2-1.1.6-1.4 1.2z"></path>
          <g>
            <path class="st2" d="M306.2 333.5c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2c-1.1-.1-2 .8-2 2zM306.3 338.9c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2z"></path>
          </g>
          <path class="st21" d="M307 336.2c0 .7.6 1.3 1.3 1.3.7 0 1.3-.6 1.3-1.3 0-.7-.6-1.3-1.3-1.3-.7 0-1.3.6-1.3 1.3z"></path>
          <g>
            <path class="st57" d="M300.4 341c1.6 1 2.4 2.8 2.8 4.5.3 1.1-1.5 1.3-1.8.3-.4-1.3-.9-2.7-2.1-3.4-.9-.5.2-1.9 1.1-1.4z"></path>
          </g>
        </g>
        <g>
          <path class="st57" d="M221.7 349.2c0-3-.5-5.5-2.2-8-.7-1.1 1-2.1 1.7-1 1.8 2.8 2.4 5.7 2.4 9 .1 1.3-1.9 1.3-1.9 0z"></path>
          <path class="st58" d="M222.3 341.9c-1.2 0-2.1-1-2.1-2.1 0-1.2 1-2.1 2.1-2.1 1.2 0 2.1 1 2.1 2.1.1 1.1-.9 2.1-2.1 2.1zM216.7 341.9c-1.2 0-2.1-1-2.1-2.1 0-1.2 1-2.1 2.1-2.1 1.2 0 2.1 1 2.1 2.1s-1 2.1-2.1 2.1z"></path>
          <path class="st59" d="M220.4 338.9c.3-.6.8-1.1 1.4-1.2-.3.5-.8 1-1.4 1.2zM220.4 340.7c.6.2 1.1.6 1.4 1.1-.6-.2-1.1-.6-1.4-1.1zM218.6 340.7c-.3.6-.8 1-1.4 1.1.3-.5.8-.9 1.4-1.1zM218.6 338.9c-.6-.2-1.1-.7-1.4-1.2.6.1 1.1.6 1.4 1.2z"></path>
          <g>
            <path class="st2" d="M221.5 337c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zM221.5 342.4c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2z"></path>
          </g>
          <path class="st21" d="M220.7 339.7c0 .7-.6 1.3-1.3 1.3-.7 0-1.3-.6-1.3-1.3 0-.7.6-1.3 1.3-1.3.8.1 1.3.6 1.3 1.3z"></path>
          <g>
            <path class="st57" d="M227.3 344.6c-1.6 1-2.4 2.8-2.8 4.5-.3 1.1 1.5 1.3 1.8.3.4-1.3.9-2.7 2.1-3.4 1-.6-.1-2-1.1-1.4z"></path>
          </g>
        </g>
        <g>
          <path class="st57" d="M133.5 320.9c0-2.4-.4-4.5-1.8-6.6-.6-.9.8-1.7 1.4-.8 1.5 2.3 2 4.7 2 7.4.1 1-1.6 1-1.6 0z"></path>
          <path class="st58" d="M134.1 314.8c-1 0-1.8-.8-1.8-1.7 0-1 .8-1.8 1.8-1.8s1.8.8 1.8 1.8c-.1 1-.9 1.7-1.8 1.7zM129.4 314.8c-1 0-1.8-.8-1.8-1.7 0-1 .8-1.8 1.8-1.8s1.8.8 1.8 1.8-.8 1.7-1.8 1.7z"></path>
          <path class="st59" d="M132.5 312.4c.2-.5.7-.9 1.2-1-.3.5-.7.8-1.2 1zM132.5 313.8c.5.2.9.5 1.1.9-.5 0-.9-.4-1.1-.9zM131 313.8c-.2.5-.6.8-1.1.9.2-.3.6-.7 1.1-.9zM131 312.4c-.5-.2-.9-.5-1.2-1 .6.1 1 .5 1.2 1z"></path>
          <g>
            <path class="st2" d="M133.4 310.9c0 .9-.7 1.7-1.7 1.7-.9 0-1.7-.7-1.7-1.7 0-.9.7-1.7 1.7-1.7s1.7.7 1.7 1.7zM133.4 315.3c0 .9-.7 1.6-1.6 1.6-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6.9 0 1.6.7 1.6 1.6z"></path>
          </g>
          <path class="st21" d="M132.8 313.1c0 .6-.5 1-1 1-.6 0-1-.5-1-1 0-.6.5-1 1-1s1 .4 1 1z"></path>
          <g>
            <path class="st57" d="M138.2 317.1c-1.3.8-1.9 2.3-2.3 3.7-.2.9 1.2 1.1 1.4.2.3-1.1.8-2.2 1.8-2.8.8-.4-.1-1.6-.9-1.1z"></path>
          </g>
        </g>
        <g>
          <path class="st57" d="M369.2 320.9c0-2.4-.4-4.5-1.8-6.6-.6-.9.8-1.7 1.4-.8 1.5 2.3 2 4.7 2 7.4.1 1-1.6 1-1.6 0z"></path>
          <path class="st58" d="M369.8 314.8c-1 0-1.8-.8-1.8-1.7 0-1 .8-1.8 1.8-1.8s1.7.8 1.7 1.8-.8 1.7-1.7 1.7zM365.1 314.8c-1 0-1.7-.8-1.7-1.7 0-1 .8-1.8 1.7-1.8 1 0 1.8.8 1.8 1.8s-.8 1.7-1.8 1.7z"></path>
          <path class="st59" d="M368.2 312.4c.2-.5.7-.9 1.2-1-.3.5-.7.8-1.2 1zM368.2 313.8c.5.2.9.5 1.1.9-.5 0-.9-.4-1.1-.9zM366.7 313.8c-.2.5-.6.8-1.1.9.2-.3.6-.7 1.1-.9zM366.7 312.4c-.5-.2-.9-.5-1.2-1 .6.1 1 .5 1.2 1z"></path>
          <g>
            <path class="st2" d="M369.1 310.9c0 .9-.7 1.7-1.7 1.7-.9 0-1.7-.7-1.7-1.7 0-.9.7-1.7 1.7-1.7s1.7.7 1.7 1.7z"></path>
            <circle class="st2" cx="367.5" cy="315.3" r="1.6"></circle>
          </g>
          <path class="st21" d="M368.5 313.1c0 .6-.5 1-1 1-.6 0-1-.5-1-1 0-.6.5-1 1-1s1 .4 1 1z"></path>
          <g>
            <path class="st57" d="M373.9 317.1c-1.3.8-1.9 2.3-2.3 3.7-.2.9 1.2 1.1 1.4.2.3-1.1.8-2.2 1.8-2.8.8-.4-.1-1.6-.9-1.1z"></path>
          </g>
        </g>
        <g class="st23">
          <path class="st21" d="M167.7 149.6c15.4-5.9 31.6-8.2 47.8-10.2 4.7-.6 4.7-7.9 0-7.4-16.9 2.1-33.8 4.3-49.8 10.5-4.3 1.7-2.4 8.9 2 7.1z"></path>
        </g>
        <g class="st23">
          <path class="st21" d="M222.1 137.1l.4.4c1.4 1.4 3.8 1.4 5.2 0 1.4-1.4 1.4-3.8 0-5.2l-.4-.4c-1.4-1.4-3.8-1.4-5.2 0-1.4 1.4-1.4 3.8 0 5.2z"></path>
        </g>
        <g class="st23">
          <path class="st21" d="M233.9 136.5l.4.4c1.4 1.4 3.8 1.4 5.2 0 1.4-1.4 1.4-3.8 0-5.2l-.4-.4c-1.4-1.4-3.8-1.4-5.2 0-1.5 1.4-1.5 3.8 0 5.2z"></path>
        </g>
        <g class="st23">
          <path class="st21" d="M248.5 137.8c4.8 0 4.8-7.4 0-7.4s-4.8 7.4 0 7.4z"></path>
        </g>
        <g class="st23">
          <path class="st21" d="M339.9 149.2c-1.5-8.1-11.6-11.7-18.7-12.9-4.6-.8-6.6 6.3-2 7.1 4.4.7 12.6 2.5 13.6 7.8.9 4.7 8 2.7 7.1-2z"></path>
        </g>
        <g class="st23">
          <path class="st21" d="M304.4 140.8l.4.4c1.4 1.4 3.8 1.4 5.2 0 1.4-1.4 1.4-3.8 0-5.2l-.4-.4c-1.4-1.4-3.8-1.4-5.2 0-1.4 1.4-1.4 3.8 0 5.2z"></path>
        </g>
        <g class="st23">
          <path class="st21" d="M195.2 162.7c5.4-2.4 10.9-3.4 16.7-3.7 4.7-.2 4.5-7.5-.2-7.4-6.5.2-12.7 1.3-18.7 4-4.2 2-2.1 9 2.2 7.1z"></path>
        </g>
        <g class="st23">
          <path class="st21" d="M223 156.8c4.8 0 4.8-7.4 0-7.4-4.7 0-4.7 7.4 0 7.4z"></path>
        </g>
        <g class="st23">
          <path class="st21" d="M305.8 163.4c4.8 0 4.8-7.4 0-7.4-4.7 0-4.7 7.4 0 7.4z"></path>
        </g>
        <g class="st23">
          <path class="st21" d="M301.7 155.9c2.5 0 2.5-3.9 0-3.9s-2.5 3.9 0 3.9z"></path>
        </g>
        <g class="st23">
          <path class="st21" d="M299.7 163.9c1.6 0 1.6-2.5 0-2.5s-1.6 2.5 0 2.5z"></path>
        </g>
      </g>
    </g>
  </svg>
  <button mat-stroked-button color="accent" class="home-button"  routerLink="/browse"> <mat-icon>home</mat-icon> Go to safe place!</button>



</div>
