svg {

  display: block;
  max-height: 80%;
  margin: 0 auto;
  max-width: 100vh;
  margin-top: -30px;
}
.advice {
  text-align: center;
  margin-top: 30px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  h2, small {
    color: #fff;
  }
  h2 {
    font-weight: 900;
  }

}
.home-button {
  display: block;
  margin: 0 auto;
  margin-top: -21vw;
  .mat-icon {
    font-size: 20px;
  }
}


.st0 {
  opacity: .4
}

.st1 {
  fill: #00063c
}

.st2 {
  fill: #3ae3ff
}

.st3 {
  font-family: 'Quicksand-Bold'
}

.st4 {
  font-size: 15.3603px
}

.st5 {
  letter-spacing: 3
}

.st7 {
  fill: #1aaaf6
}

.st8 {
  fill: #85ffff
}

.st9 {
  fill: #e5ffff
}

.st10 {
  font-size: 12.008px
}

.st11 {
  fill: #017a74
}

.st12 {
  opacity: .15;
  fill: #00dfff;
  animation: vibrate 12s alternate linear infinite;
}
.vaca {
  animation: floatCow 22s alternate ease-in-out infinite;
}

@keyframes floatCow {
  0% {
    transform: translate(0px, -10px);
  }
  33% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -12px);
  }
  61% {
    transform: translate(0px, -4px);
  }
  65% {
    transform: translate(0px, 0px);
  }
  90% {
    transform: translate(0px, -12px);;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes vibrate {
  0% {
    opacity: .5
  }
  35% {
    opacity: .25;
  }
  45% {
    opacity: .5;
  }
  50% {
    opacity: .15;
  }
  60% {
    opacity: .7;
  }
  61% {
    opacity: .4;
  }
  65% {
    opacity: .1;
  }
  66% {
    opacity: .5;
  }
  70% {
    opacity: .2;
  }
  90% {
    opacity: .6;
  }
  100% {
    opacity: .1;
  }
}

.st13 {
  opacity: .3;
  fill: #000621
}

.st14 {
  font-family: 'Viga-Regular'
}

.st15 {
  font-size: 100.068px
}

.st16 {
  opacity: .3
}

.st17 {
  fill: #00dfff
}

.st19 {
  fill: #ffd275
}

.st20 {
  fill: #ffb961
}

.st21 {
  fill: #fff
}

.st22 {
  fill: #002655
}

.st23 {
  opacity: .2
}

.st24 {
  fill: #eee4ed
}

.st25 {
  fill: #7da0d6
}

.st26 {
  fill: #ffe6ec
}

.st28 {
  fill: #ffb8ae
}

.st29 {
  fill: #ffc5ed
}

.st31 {
  fill: #ff908a
}

.st32 {
  fill: #83270b
}

.st36 {
  fill: #0f111d
}

.st38 {
  opacity: .7
}

.st39 {
  fill: #d3dbd3
}

.st41 {
  fill: #8dd1ff
}

.st42 {
  fill: #00baff
}

.st44 {
  fill: #00947e
}

.st49 {
  fill: #0095f6
}

.st54 {
  opacity: .15
}

.st55 {
  fill: #f2ffff
}

.st56 {
  fill: #fff;
  stroke: #fff;
  stroke-width: .75;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10
}

.st57 {
  fill: #07245a
}

.st58 {
  fill: #1cb7ef
}

.st59 {
  fill: #1c95c8
}
