.movie-item-small {
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 15px;
  padding-bottom: 30px;
  text-shadow: 1px 1px 2px #0000002e;
  width: 11vw;
  transition: all .35s ease-out;
  @media screen and (max-width: 1200px) {
    width: 18vw;
  }
  @media screen and (max-width: 767px) {
    width: 26vw;
    padding: 8px;
  }
  .cover {
    width: 100%;
    transition: all .35s ease-out;
  }
  .mat-icon {
    height: 19px;
    width: 19px;
    font-size: 16px;
    vertical-align: middle;
  }
  .info {
    .movie-caption, .movie-title {
      padding: 2px 2px;
      margin: 0px;
      text-decoration: none;
      &:visited {
        color: inherit
      }
    }
    .movie-title {
      display: block;
      max-width: 100%;
      line-height: 18px;
      margin: 0px;
    }
  }
  &:hover {
    background: rgba(0,0,0,.3);
    border-radius: 4px;
    overflow: hidden;
    transition: all .15s ease-out;
     .cover {
      width: calc(100% + 20px) !important;
      margin: -10px -10px 4px -10px !important;
      transition: all .15s ease-out;
    }
  }
}
