<a class="movie-item-small" [routerLink]="'/movie-detail/' + movie.key" class="movie-item-small">

  <img src="{{staticURL}}" alt="{{movie.name}}" class="cover mat-elevation-z8"  >
  <div class="info">
    <h4 class="movie-title mat-subheading-2">{{movie?.name}}</h4>
    <p class="movie-caption mat-caption">
        <mat-icon >av_timer</mat-icon>
      {{movie?.length}}
    </p>
    <p class="movie-caption mat-caption">
        <mat-icon >star</mat-icon>
      {{movie?.rate}}
    </p>
  </div>
</a>
