
@import '~@angular/material/theming';
@import './../../sass/vars.scss';

.super {
  max-width: 580px;
  width: 90%;
  background: rgba(0, 0, 0, 0.1);
  padding: 25px 20px;
  margin: 35px 20px 10px 20px;
  color: #fff;
  box-sizing: border-box;
}
.mat-display-1 {
  // color: $primary;
  b {
    color: $brand-normal
  }
}
