<blockquote class="super animated fadeIn">
  <h1 class="mat-display-1 mb-10 mat-accent" color="accent" ><b>Super duper</b> mega movies</h1>
  <p class="mat-subheading-2">
      Hey apple! Why not check it out our movies ? Yes you can do it filtering by rate ou genres, and after find out which one you would you know more, just click on it :)
  </p>
</blockquote>
<!-- <p style="color:antiquewhite">
  {{movieData | json}}
</p> -->
<app-list-items [movieList]="movieData" [filterGenres]="genreList" [isFilterable]="true">
  <!-- Iterate itens -->
</app-list-items>
